  h4 {
      text-align: center;
  }

  #wow {
      color: blue;
  }

  #woo {
      color: blueviolet;
  }

  index_original.html .hey {
      text-decoration: underline;
  }

  img {
      margin: auto;
      display: block;
      border: 2px solid red;
      border-radius: 20px;
      box-shadow: 0 0 10px black;

  }

  a {
      text-decoration: none;
      font-weight: bold;
      color: #15df81;
  }

  a:hover {
      color: brown;
      background-color: aqua;
      font-size: 32px;

  }